name: Build and Artifact

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Extract current branch name
        shell: bash
        run: |
          ref="${GITHUB_REF#refs/heads/}"
          echo "branch=${ref////-}" >> $GITHUB_OUTPUT
        id: ref

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false

      # CORREÇÃO APLICADA AQUI
      - name: Execute Gradle build
        # Adicionado "clean" para garantir que nenhum artefato ou cache antigo cause conflitos
        run: ./gradlew clean build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: unforeseen-consequences-artifacts-${{ steps.ref.outputs.branch }}
          path: build/libs/*.jar
